@import "../../assets/helpers/variables";
@import "../../assets/helpers/mixins";

.container-spot {
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  height: 100vh;

  .info-spot {
    margin-top: 25px;
    display: flex;
    max-height: 150px;
    width: calc(100% - 10px);
    border-radius: 5px;
    background-color: white;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    box-shadow: 0px 5px 9px 1px rgb(0, 0, 0 / 41%);
    flex-flow: wrap;
    @media (min-width: 1666px) {
      max-height: 100px;
    }
    @media (max-width: 400px) {
      max-height: 500px;
      flex-flow: column;
      justify-content: space-around;
    }
    @media (max-width: 655px) and (min-width: 401px) {
      max-height: 325px !important;
    }
    @media (max-width: 1092px) and (min-width: 420px) {
      max-height: 200px;
      flex-flow: column;
    }
    @media (max-width: 1572px ) and (min-width: 1093px) {
      max-height: 200px;
      flex-flow: column;
      display: flex;
    }
    .content-title-spot {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      .txt-title-spot {
        font-size: 16px;
        font-family: $open-sans;
        color: $primary-color;
        font-weight: bold;
      }
    }

    .spot {
      justify-content: center;
      align-items: center;
      @media (max-width: 375px) {
        margin-bottom: -35px;
      }
      .spot-date {
        display: flex;
        justify-content: center;
        @media (max-width: 425px) and (min-width: 320px) {
          flex-flow: wrap;
        }
      }
      .text-info-spot {
        font-size: 16px;
        margin-left: 10px;
        color: $primary-color;
        margin-right: 10px;
        font-family: $open-sans;
        font-weight: bold;
      }
      .text-span-spot {
        font-family: $open-sans;
        font-weight: bold;
        font-size: 14px;
      }
    }
    .container-inputs {
      height: 100px;
      display: flex;
      flex-flow: column;
      justify-content: space-around;
      width: 60%;
      @media (max-width: 619px) and (min-width: 420px) {
        width: 100%;
        flex-flow: column;
      }
      @media (max-width: 375px) {
        flex-flow: column;
      }
      @media (max-width: 660px) and (min-width: 619px) {
        margin-top: 20px;
      }
      .form-spot {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: wrap;
        @media (max-width: 619px) and (min-width: 320px) {
          flex-flow: wrap;
        }
        @media (max-width: 375px) {
          margin-top: -50px;
        }
        .content-requests {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-flow: column;
          @media (max-width: 375px) {
            margin-top: 10px;
          }
          .text-info-spot {
            font-size: 16px;
            margin-left: 10px;
            color: $primary-color;
            margin-right: 10px;
            font-family: $open-sans;
            font-weight: bold;
          }
          .input-time {
            width: 100px !important;
            border-radius: 5px;
            border: white;
            margin-top: 5px;
            height: 20px;
            text-align: center;
            color: $secundary-bg-color;
            font-family: $open-sans;
            background-color: $primary-color;
            @media (max-width: 1085px) and (min-width: 620px) {
              margin-right: 15px;
            }
            @media (max-width: 400px) {
              width: 250px;
            }
          }
          .input-date {
            width: 100px;
            border-radius: 5px;
            border: white;
            margin-top: 5px;
            height: 20px;
            text-align: center;
            font-family: $open-sans;
            color: $secundary-bg-color;
            background-color: $primary-color;
            @media (max-width: 1085px) and (min-width: 620px) {
              margin-right: 15px;
            }
            @media (max-width: 400px) {
              width: 250px;
            }
          }
          .input-observation {
            width: 250px;
            font-family: $open-sans;
            border-radius: 5px;
            border: white;
            margin-top: 5px;
            height: 20px;
            text-align: center;
            color: $secundary-bg-color;
            background-color: $primary-color;
            @media (max-width: 400px) {
              width: 250px;
              margin-bottom: 20px;
              margin-top: 5px;
            }
            @media (max-width: 1085px) and (min-width: 620px) {
              margin-right: 15px;
            }
          }
        }
        .btn-request {
          width: 120px;
          height: 40px;
          @media (max-width: 1212px) {
            margin-top: 10px;
          }
          @media (max-width: 619px) and (min-width: 513px) {
            margin-top: 15px;
          }
          @media (max-width: 512px) and (min-width: 401px) {
            margin-top: 20px;
          }
          @media (max-width: 377px) and (min-width: 320px) {
            margin-top: 0px;
          }
          @include btn-submit-and-save;
          &:hover {
            background-color: $primary-color;
          }
        }
      }
    }
    .content-arrow {
      margin-left: 50px;
      margin-right: 50px;
      @media (max-width: 1092px) and (min-width: 400px) {
        margin-top: 25px;
      }
      @media (max-width: 400px) {
        margin-top: -100px;
      }
      .arrow {
        @media (max-width:1572px) and (min-width: 320px) {
          display: none;
        }
        @media (max-width: 419px) and (min-width:401px) {
          display: flex;
        }
        @media (max-width: 1093px) and (min-width: 1600px) {

        }
      }
      .down-arrow {
        height: 30px;
        width: 30px;
        @media (max-width: 4000px) and (min-width: 1573px) {
          display: none;
        }
        @media (max-width: 419px) and (min-width:401px) {
          display: none;
        }
        @media (max-width: 618px) and (min-width:419px) {
          margin-bottom: 15px;
        }
        @media (max-height: 15672px) and (min-width: 1093px) {
          margin-top: 20px;
        }
      }
    }
  }
}
