@import "../../assets/helpers/variables";
@import "../../assets/helpers/mixins.scss";

.container-request {
  background-color: $primary-color;
  padding-top: 15px;
  min-height: 100vh;
  flex-flow:column ;
  display: flex;
  align-items: center;
  .no-request {
    display: flex;
    justify-content: center;
    align-items: center;
    .txt-no-request {
      margin-top: 40px;
      color: $secundary-bg-color;
      font-size: 32px;
      font-weight: bold;
      font-family: $open-sans;
    }
  }
  .contents-request {
    margin-top: 20px;
    justify-content: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    list-style-type: none;
    width: calc(70% - 10px);
    border-radius: 5px;
    height: 255px;
    background-color: $secundary-bg-color;
    @media (max-width: 573px) {
      height: 300px;
    }
    @media (max-width: 425px) {
      width: calc(100% - 20px);
     height: 550px;
    }
    .list-request {
     
      .content-arrow {
        display: flex;
        justify-content: center;
        .down-arrow {
          width: 30px;
          height: 30px;
          margin-top: 15px;
          margin-bottom: 15px;
        }
      }
    }
    .data-spot {
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      @media (max-width: 425px) {
        flex-flow: column;
      }
      legend {
        color: $primary-color;
        font-weight: bold;
        font-family: $open-sans;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        margin-top: 10px;
      }
      .txt-fields {
        font-family: $open-sans;
        color: $primary-color;
        @media (max-width: 425px) {
          margin-top: 5px;
        }
      }
      .txt-res {
        font-family: $open-sans;
        color: black;
        margin-left: 5px;
        margin-right: 5px;
        @media (max-width: 425px) {
          width: 13em;
          word-wrap: break-word;
          margin-left: unset;
          margin-top: 5px;
        }
      }
     
    }
    .content-button-spot {
      margin-top: 10px;
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      .btn-accept {
        width: 100px;
        border: none;
        height: 25px;
        @include btn-submit-and-save;
        @media screen and(max-width: 375px) {
          margin-top: 5px;
        }
      }
      .btn-decline {
        width: 100px;
        border: none;
        height: 25px;
        margin-left: 8px;
        font-weight: bold;
        @include btn-decline-and-delete;
        border-radius: 10px;
        cursor: pointer;
        @media screen and(max-width: 375px) {
          margin-top: 5px;
        }
      }
    }
  }
}
