@import "../../assets/helpers/variables";
@import "../../assets/helpers/mixins";
.container-spots-all {
  height: 100vh;
  max-width: 100%;
  display: flex;
  padding: 0px;
  flex-flow: column;
  background-color: $primary-color;
  .content-spots-all {
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;

    .no-spots {
      display: flex;
      justify-content: center;
      align-items: center;
      .txt-no-spots {
        margin-top: 40px;
        color: $secundary-bg-color;
        font-size: 32px;
        font-weight: bold;
        font-family: $open-sans;
      }
    }
    .content-collaborator-spots {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .collaborator-spots {
        display: flex;
        height: auto;
        width: 100%;
        max-width: 750px;
        justify-content: center;
        .container-collaborator-spots {
          padding: 5px;
          margin: 5px;
          height: 50px;
          display: flex;
          width: 700px;
          justify-content: center;
          margin: 10px;
          border-radius: 5px;
          background-color: white;
          flex-flow: wrap;
          list-style-type: none;
          align-items: center;
          justify-content: center;
          border: 1px solid white;
          box-shadow: 0px 5px 9px 1px rgba(0, 0, 0, 0.41);
          p {
            font-size: 14px;
            color: $primary-color;
            font-family: $open-sans;
            font-weight: bold;
          }
          span {
            font-size: 14px;
            margin-left: 5px;
            margin-right: 12px;
            font-family: $open-sans;
            font-weight: bold;
          }
        }
      }
      
    }
    .content-btn-report {
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 455px) {
        display: flex;
        flex-flow: column;
      }
      .title-search {
        font-family: $open-sans;
        font-weight: bold;
        margin-top: 8px;
        color: $secundary-bg-color;
        margin-bottom: 10px;
        margin-left: 15px;
        flex-flow: row;
        display: flex;
        .two-spot {
          @media (max-width: 455px) {
            display: none;
          }
        }
      }
      .field-search-data {
        margin-left: 15px;
        text-align: center;
        border:none;
        border-radius: 5px;
        font-family: $open-sans;
        &::placeholder {
          color: rgb(216, 215, 215) !important;
        }
      }
      .report-btn {
        @include btn-submit-and-save;
        background-color: #0d6efd;
        height: 35px;
        width: 120px;
        &:hover {
          background-color: $secundary-bg-color;
          color: $primary-color;
        }
      }
    }
  }
}
