@import "../../assets/helpers/variables";
@import "../../assets/helpers/mixins";
.content-person {
  .container-people {
    background-color: $primary-color;
    padding-top: 15px;
    height: 100vh;
    .content-people {
      display: flex;
      justify-content: space-around;
      padding: 5px;
      margin: 5px;
      display: flex;
      border-radius: 5px;
      list-style-type: none;
      flex-flow: wrap;
      align-items: center;
      .data-people {
        justify-content: space-around;
        padding: 5px;
        margin: 5px;
        display: flex;
        flex-flow: column;
        border-radius: 5px;
        list-style-type: none;
        align-items: center;
        .txt-person {
          margin-bottom: 5px;
          font-family: $open-sans;
          font-weight: bold;
          color: $secundary-bg-color;
          font-size: 14px;
        }
        .person-input {
        border: none;
        border-radius: 5px;
        font-family: $open-sans;
        text-align: center;
        color: $primary-color;
        width: 300px;
        @media screen and(max-width: 400px) {
          width: 300px;
        }
        }
      }
    }
    .content-people-two {
      display: flex;
      justify-content: space-around;
      padding: 5px;
      margin: 5px;
      display: flex;
      border-radius: 5px;
      flex-flow: wrap;
      list-style-type: none;
      align-items: center;
      .data-people {
        justify-content: space-around;
        padding: 5px;
        margin: 5px;
        display: flex;
        flex-flow: column;
        border-radius: 5px;
        list-style-type: none;
        align-items: center;
        .txt-person {
          margin-bottom: 5px;
          font-family: $open-sans;
          font-weight: bold;
          color: $secundary-bg-color;
          font-size: 14px;
        }
        .person-input {
        border: none;
        border-radius: 5px;
        font-family: $open-sans;
        text-align: center;
        color: $primary-color;
        width: 300px;
        @media screen and(max-width: 400px) {
          width: 300px;
        }
        }
      }
    }
    .content-btn {
      justify-content: center;
      display: flex;
      height: 100px;
      .btn-submit-edit {
        width: 120px;
        font-size: 18px;
        align-items: center;
        height: 35px;
        @include btn-submit-and-save;
        &:hover {
          background-color: $secundary-bg-color;
          color: $primary-color;
        }
      }
    }
  }
}
