@import "../../assets/helpers/variables";

.containerHeader {
  width: 100%;
}

.list {
  display: flex;
  height: 70px;
  align-items: center;
  @media (max-width: 585px) {
    display: block;
    height: auto;
  }
  img {
    margin-right: auto;
    margin-left: 10px;
    @media (max-width: 587px) {
      display: none;
    }
  }
  li {
    padding-right: 20px;
    list-style-type: none;
    font-weight: bold;
    @media (max-width: 587px) {
      display: flex;
      padding-top: 20px;
      font-size: 22px;
      justify-content: center;
      text-align: left;
      height: 20px;
    }

    .btn-register,
    .btn-logout {
      color: $secundary-bg-color;
      font-family: $open-sans;
      background-color: $primary-color;
      border-radius: 5px;
      width: 80px;
      height: 35px;
      border: none;
      font-weight: bold;
      text-decoration: none;
      cursor: pointer;
    }
    img {
      width: 40px;
      border: 2px solid gray;
      border-radius: 40px;
      @media (max-width: 741px) {
        display: none;
      }
    }
    link {
      padding: 5px;
      font-family: sans-serif;
      text-decoration: none;
    }
    .active {
      border-bottom: 3px solid $primary-color;
    }
  }
}
