@import "../../assets/helpers/variables";
@import "../../assets/helpers/mixins";

.container-task {
  background-color: $primary-color;
  width: 100%;
  display: flex;
  height: 100em;
  justify-content: center;
  .content-task {
    margin-top: 50px;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    .add-task {
      width: 270px;
      height: 40px;
      border-radius: 5px;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      font-family: $open-sans;
      background-color: $secundary-bg-color;
      color: $primary-color;
      justify-content: center;
      font-weight: bold;
      cursor: pointer;
      margin-bottom: 20px;
      .img-task {
        margin-right: 10px;
        height: 32px;
        width: 32px;
      }
    }

    .content-add-task {
      margin-top: 25px;
      margin-bottom: 25px;
      background-color: $secundary-bg-color;
      width: calc(90% - 20px);
      min-height: 100px;
      max-width: 800px;
      justify-content: center;
      border-radius: 5px;
      align-items: center;
      display: flex;
      @media screen and(max-width: 425px) {
        height: unset;
        width: calc(100% - 10px);
      }
      @media screen and(min-width: 510px) and (max-width: 721px){
       height: unset;
      }
      form {
        display: flex;
        width: calc(100% - 20px);
        align-items: center;
        @media screen and(max-width: 445px) {
          display: unset;
        }
        @media screen and(max-width: 510px) {
          display: unset;
          flex-flow: wrap;
        }
        @media screen and(min-width: 510px) and (max-width: 721px){
          flex-flow: column;
        }
      }
      .title-name {
        margin-left: 15px;
        color: $primary-color;
        font-family: $open-sans;
        font-size: 16px;
      }
      .title-description {
        color: $primary-color;
        font-size: 16px;
        font-family: $open-sans;
        @media screen and(max-width: 425px) {
         margin-left: 15px;
        }
      }
      .input-name,
      .input-description {
        border-radius: 5px;
        border: none;
        width: 270px;
        font-family: $open-sans;
        font-size: 14px;
        background-color: $primary-color;
        margin-left: 10px;
        margin-right: 10px;
        height: 20px;
        @media screen and(max-width: 425px) {
          margin-bottom: 15px;
         }
      }
      .add-task-form {
        height: 30px;
        font-size: 16px;
        @include btn-submit-and-save;
        margin-right: 20px;
        @media screen and(max-width: 425px) {
          margin-left: 15px;
          margin-bottom: 15px;
         }
        &:hover {
          background-color: $primary-color;
        }
      }
    }
  }
  .list-task {
    list-style-type: none;
    margin-top: 25px;
    padding: 5px;
    margin: 5px;
    display: flex;
    max-width: 800px;
    width: calc(100% - 10px);
    border-radius: 5px;
    background-color: $secundary-bg-color;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    border: 1px solid $secundary-bg-color;
    -webkit-box-shadow: 0px 5px 9px 1px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 5px 9px 1px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 5px 9px 1px rgba(0, 0, 0, 0.41);
    @media screen and(max-width: 320px) {
      width: 300px;
      flex-flow: wrap;
    }
    .content-list-task {
      display: flex;
      height: 70px;
      flex-flow: column;
      margin-left: 15px;
      width: 100%;
      @media screen and(max-width: 320px) {
        margin-left: unset;
        align-items: center;
        
      }
      .txt-name {
        margin-bottom: 10px;
        font-size: 16px;
        font-family: $open-sans;
        color: $primary-color;
        font-weight: bold;
      }
      .txt-task {
        font-family: $open-sans;
        font-size: 15px;
      }
    }
    .content-description {
      display: flex;
      height: 70px;
      flex-flow: column;
      width: 100%;
      @media screen and(max-width: 320px) {
        margin-left: unset;
        align-items: center;
      }
      .txt-description {
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: bold;
        font-family: $open-sans;
        color: $primary-color;
      }
      .txt-task {
        font-family: $open-sans;
        font-size: 15px;
      }
    }
    .content-btn-finish {
      width: 100%;
      display: flex;
      @media screen and(max-width: 320px) {
        margin-left: unset;
        align-items: center;
        justify-content: center;
      }
      .btn-finish {
        font-size: 14px;
        width: 125px;
        height: 30px;
        @include btn-submit-and-save;
        margin-right: 10px;
        cursor: pointer;
      }
    }
    .content-fish {
      width: 100%;
      display: flex;
      flex-flow: column;
      justify-content: center;
      @media screen and(max-width: 320px) {
        width: unset;
        margin-right: 15px;
      }
      .txt-finish {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 16px;
        font-family: $open-sans;
        color: $primary-color;
        font-weight: bold;
      }
      p {
        font-size: 16px;
        font-family: $open-sans;
        color: $primary-color;
        font-weight: bold;
      }
      .txt-data-finish {
        font-size: 14px;
        font-family: $open-sans;
        font-weight: bold;
        margin-bottom: 8px;
      }
    }
    .button-delete {
      width: 35px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include btn-decline-and-delete;
      border-radius: 2px;
    }
    
  }
}
