@import "../../assets/helpers/variables";

.content-all {
    background-color: $primary-color;
    padding-top: 15px;
    height: 91.6vh;
  .spots-content {
    display: flex;
    justify-content: center;
    .spots-list {
      padding: 5px;
      margin: 5px;
      display: flex;
      height: 50px;
      border-radius: 5px;
      background-color: $secundary-bg-color;
      list-style-type: none;
      align-items: center;
      justify-content: center;
      border: 1px solid $secundary-bg-color;
      -webkit-box-shadow: 0px 5px 9px 1px rgba(0, 0, 0, 0.41);
      -moz-box-shadow: 0px 5px 9px 1px rgba(0, 0, 0, 0.41);
      box-shadow: 0px 5px 9px 1px rgba(0, 0, 0, 0.41);
      p {
      color: $primary-color;
      font-family: sans-serif;
      font-weight: bold;
      }
      .txt-spots {
          font-size: 14px;
          color: black;
          font-weight: bold;
          font-family: sans-serif;
          margin-left: 15px;
          margin-right: 15px;
      }
      .list-collaborator {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        .content-collaborator {
          display: flex;
          width: 300px;
          .btn-spots {
            border-radius: 5px;
            font-family: $open-sans;
            background-color: #198754;
            border:none;
            width: 110px;
            height: 30px;
            color: $secundary-bg-color;
            font-weight: bold;
            cursor: pointer;
            &:hover {
              background-color:$primary-color;
            }
          }
        }
      }
    }
  }
  
}
