@import "../../assets/helpers/variables";

#root {
  .content-all {
    background-color: $primary-color;
    width: 100%;
    height: 100vh;
    

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      .content-childrens {
        width: 80%;
        height: 100%;
        flex-flow: column;
        justify-content: space-around;
        display: flex;
        @media (max-width: 320px) {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 0px;
        }
        .child-container {
          width: 100%;
          display: flex;
          height: 10%;
          margin-left: 30px;
          top: 20px;
          @media (max-width: 320px) {
            margin-left: 0px;
          }

          .btn-back {
            background-color: $secundary-bg-color;
            color: $primary-color;
            font-family: $open-sans;
            font-size: 18px;
            font-weight: bold;
            border: none;
            width: 250px;
            border-radius: 5px;
            height: 50px;
            cursor: pointer;
            text-align: center;
            margin-top: 20px;
            align-items: center;
            justify-content: center;
            display: flex;
            text-decoration: none;
          }
        }
        .container-warnning {
          display: flex;
          align-items: center;
          justify-content: center;
          .title-warnning {
            font-family: $open-sans;
            font-weight: bold;
            color: $secundary-bg-color;
            margin-bottom: 25px;
          }
        }
        .content-two {
          align-items: center;
          border: none;
          background-color: $primary-color;
          border-radius: 5px;
          width: 100%;
          height: 70%;
          margin-top: -80px;
          flex-flow: column;
          display: flex;
          justify-content: center;
         
          .txt-welcome {
            color: $secundary-bg-color;
            font-size: 35px;
            font-weight: bold;
            font-family: $open-sans;
          }
          .txt-time {
            font-size: 75px;
            font-family: $open-sans;
            margin-top: 10px;
            color: $secundary-bg-color;
            @media (max-width: 375px) {
              font-size: 20px;
            }
          }
          .btn-register {
            background-color: green;
            color: $secundary-bg-color;
            font-family: $open-sans;
            font-size: 22px;
            font-weight: bold;
            border: none;
            width: 200px;
            border-radius: 5px;
            height: 60px;
            cursor: pointer;
            margin-top: 20px;
            &:hover {
              background-color: gray;
            }
          }
        }
      }
    }
  }
}
